.profile__image-edit {
    position: relative;
}

.profile__image-edit::before {
    background-color: #000;
    content: '';
    display: block;
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transition: .4s ease-in-out;
    opacity: 0;
}

.profile__image-edit:hover::before {
    opacity: .8;
    background-color: #000;
    background-image: url('../../../images/VectorEdit.svg');
    background-repeat: no-repeat;
    background-position: center;
}