.profile {
  margin-top: 0px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media (max-width: 879px) {
  .profile {
    flex-direction: column;
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 580px) {
  .profile {
    margin-bottom: 35px;
  }
}
