.gallery__list-title {
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
  max-width: 215px;
  color: black;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
